In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cleaned_data.csv')

In [3]:
data.head()

,Amount,Final_Origin_Balance,Final_Destination_Balance,Fraud,Transaction_Type_CASH_IN,Transaction_Type_CASH_OUT,Transaction_Type_DEBIT,Transaction_Type_PAYMENT,Transaction_Type_TRANSFER
0,183806.32,0.00,566378.51,0,False,True,False,False,False
1,521.37,0.00,0.00,0,False,False,False,True,False
2,3478.18,16374.82,0.00,0,False,False,False,True,False
3,1716.05,4053.13,0.00,0,False,False,False,True,False
4,253129.93,1581629.42,2460090.55,0,True,False,False,False,False

In [4]:
from sklearn.preprocessing import StandardScaler

scalables = ['Amount', 'Final_Origin_Balance', 'Final_Destination_Balance']
scalers = {}

for col in scalables:
    scaler = StandardScaler()
    data[col] = scaler.fit_transform(data[col].values.reshape(-1, 1))
    scalers[col] = scaler

data.head()

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

,Amount,Final_Origin_Balance,Final_Destination_Balance,Fraud,Transaction_Type_CASH_IN,Transaction_Type_CASH_OUT,Transaction_Type_DEBIT,Transaction_Type_PAYMENT,Transaction_Type_TRANSFER
0,-0.152646,-0.267619,-0.177702,0,False,True,False,False,False
1,-0.310215,-0.267619,-0.330323,0,False,False,False,True,False
2,-0.307673,-0.261659,-0.330323,0,False,False,False,True,False
3,-0.309188,-0.266143,-0.330323,0,False,False,False,True,False
4,-0.093049,0.308045,0.332594,0,True,False,False,False,False

In [5]:
data.to_csv('scaled_data.csv', index=False)