In [11]:
#Import the necessary data for the training
import pandas as pd, numpy, sklearn

ModuleNotFoundError: No module named 'tensorflow'

In [7]:
train_data = pd.read_csv("DATATHON_EVENT_DATASET.csv")

In [9]:
train_data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud
0,162,CASH_OUT,183806.32,C691771226,19391.00,0.00,C1416312719,382572.19,566378.51,No,No
1,137,PAYMENT,521.37,C203378011,0.00,0.00,M42773300,0.00,0.00,No,No
2,179,PAYMENT,3478.18,C1698571270,19853.00,16374.82,M643984524,0.00,0.00,No,No
3,355,PAYMENT,1716.05,C913764937,5769.17,4053.13,M1387429131,0.00,0.00,No,No
4,354,CASH_IN,253129.93,C2017736577,1328499.49,1581629.42,C407484102,2713220.48,2460090.55,No,No

In [12]:
train_data.shape

(58150, 11)

In [14]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(2, 3), activation='relu', solver='adam', max_iter=30, random_state=101)