In [68]:
import pandas as pd 
import numpy as np

In [69]:
from sklearn.preprocessing import LabelEncoder

In [70]:
data = pd.read_csv('DATATHON_EVENT_DATASET.csv')

In [71]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud
0,162,CASH_OUT,183806.32,C691771226,19391.00,0.00,C1416312719,382572.19,566378.51,No,No
1,137,PAYMENT,521.37,C203378011,0.00,0.00,M42773300,0.00,0.00,No,No
2,179,PAYMENT,3478.18,C1698571270,19853.00,16374.82,M643984524,0.00,0.00,No,No
3,355,PAYMENT,1716.05,C913764937,5769.17,4053.13,M1387429131,0.00,0.00,No,No
4,354,CASH_IN,253129.93,C2017736577,1328499.49,1581629.42,C407484102,2713220.48,2460090.55,No,No

In [72]:
# data = data.drop("Expected_Fraud", axis=1)

In [73]:
data.dtypes

Time                             int64
Transaction_Type                object
Amount                         float64
Origin_ID                       object
Initial_Origin_Balance         float64
Final_Origin_Balance           float64
Destination_ID                  object
Initial_Destination_Balance    float64
Final_Destination_Balance      float64
Fraud                           object
Expected_Fraud                  object
dtype: object

In [74]:
data['TransactionAmount'] = data['Final_Origin_Balance'] - data['Initial_Origin_Balance']

In [75]:
# data = data.drop(['Initial_Origin_Balance', 'Initial_Destination_Balance'], axis=1)

In [76]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Initial_Origin_Balance', 'Final_Origin_Balance', 'Destination_ID',
       'Initial_Destination_Balance', 'Final_Destination_Balance', 'Fraud',
       'Expected_Fraud', 'TransactionAmount'],
      dtype='object')

In [77]:
# # Function to hash Origin_ID
# def hash_origin_id(origin_id):
#     return hashlib.sha256(origin_id.encode()).hexdigest()

# # Apply the function to the Origin_ID column
# data['Hashed_Origin_ID'] = data['Origin_ID'].apply(hash_origin_id).rank(method="dense").astype(int)
# data['Hashed_Destination_ID'] = data['Destination_ID'].apply(hash_origin_id).rank(method="dense").astype(int)

encodables = ['Origin_ID', 'Destination_ID']
encoders = {}
for column in encodables:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])
    encoders[column] = le

In [78]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount
0,162,CASH_OUT,183806.32,48751,19391.00,0.00,8311,382572.19,566378.51,No,No,-19391.00
1,137,PAYMENT,521.37,31245,0.00,0.00,50731,0.00,0.00,No,No,0.00
2,179,PAYMENT,3478.18,21146,19853.00,16374.82,52691,0.00,0.00,No,No,-3478.18
3,355,PAYMENT,1716.05,55464,5769.17,4053.13,42137,0.00,0.00,No,No,-1716.04
4,354,CASH_IN,253129.93,30759,1328499.49,1581629.42,26864,2713220.48,2460090.55,No,No,253129.93

In [79]:
# data = data.drop(['Origin_ID', 'Destination_ID'], axis=1)

In [80]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Initial_Origin_Balance', 'Final_Origin_Balance', 'Destination_ID',
       'Initial_Destination_Balance', 'Final_Destination_Balance', 'Fraud',
       'Expected_Fraud', 'TransactionAmount'],
      dtype='object')

In [81]:
data.dtypes

Time                             int64
Transaction_Type                object
Amount                         float64
Origin_ID                        int64
Initial_Origin_Balance         float64
Final_Origin_Balance           float64
Destination_ID                   int64
Initial_Destination_Balance    float64
Final_Destination_Balance      float64
Fraud                           object
Expected_Fraud                  object
TransactionAmount              float64
dtype: object

In [82]:
data['Destination_ID'].value_counts()

Destination_ID
16550    4
11210    4
9075     4
36738    4
5071     4
        ..
24278    1
43687    1
13330    1
4483     1
21638    1
Name: count, Length: 55837, dtype: int64

In [83]:
data['Origin_ID'].value_counts()

Origin_ID
48751    1
44445    1
47017    1
25754    1
15067    1
        ..
55054    1
8980     1
32777    1
7840     1
8513     1
Name: count, Length: 58150, dtype: int64

In [84]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Initial_Origin_Balance', 'Final_Origin_Balance', 'Destination_ID',
       'Initial_Destination_Balance', 'Final_Destination_Balance', 'Fraud',
       'Expected_Fraud', 'TransactionAmount'],
      dtype='object')

In [86]:
data.shape

(58150, 12)

In [94]:
(data['Initial_Origin_Balance'] - data['Final_Origin_Balance']) == (data['Final_Destination_Balance'] - data['Initial_Destination_Balance'])

0        False
1        False
2        False
3        False
4        False
         ...
58145    False
58146    False
58147    False
58148    False
58149    False
Length: 58150, dtype: bool

In [85]:
# data = data.drop(['Origin_ID', 'Destination_ID', 'Initial_Origin_Balance', 'Initial_Destination_Balance'], axis=1)