In [25]:
import pandas as pd 
import numpy as np

In [26]:
import hashlib

In [27]:
data = pd.read_csv('DATATHON_EVENT_DATASET.csv')

In [28]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud
0,162,CASH_OUT,183806.32,C691771226,19391.00,0.00,C1416312719,382572.19,566378.51,No,No
1,137,PAYMENT,521.37,C203378011,0.00,0.00,M42773300,0.00,0.00,No,No
2,179,PAYMENT,3478.18,C1698571270,19853.00,16374.82,M643984524,0.00,0.00,No,No
3,355,PAYMENT,1716.05,C913764937,5769.17,4053.13,M1387429131,0.00,0.00,No,No
4,354,CASH_IN,253129.93,C2017736577,1328499.49,1581629.42,C407484102,2713220.48,2460090.55,No,No

In [29]:
# data = data.drop("Expected_Fraud", axis=1)

In [30]:
data.dtypes

Time                             int64
Transaction_Type                object
Amount                         float64
Origin_ID                       object
Initial_Origin_Balance         float64
Final_Origin_Balance           float64
Destination_ID                  object
Initial_Destination_Balance    float64
Final_Destination_Balance      float64
Fraud                           object
Expected_Fraud                  object
dtype: object

In [31]:
data['TransactionAmount'] = data['Final_Origin_Balance'] - data['Initial_Origin_Balance']

In [32]:
# data = data.drop(['Initial_Origin_Balance', 'Initial_Destination_Balance'], axis=1)

In [33]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Final_Origin_Balance', 'Destination_ID', 'Final_Destination_Balance',
       'Fraud', 'Expected_Fraud', 'TransactionAmount'],
      dtype='object')

In [51]:

# Apply the function to the Origin_ID column
data['Hashed_Origin_ID'] = data['Origin_ID'].apply(hash).astype('int64')
data['Hashed_Destination_ID'] = data['Destination_ID'].apply(hash).astype('int64')

In [56]:
import hashlib

In [53]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Final_Origin_Balance,Destination_ID,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount,Hashed_Origin_ID,Hashed_Destination_ID
0,162,CASH_OUT,183806.32,C691771226,0.00,C1416312719,566378.51,No,No,-19391.00,6206652195234717615,4158844970661409217
1,137,PAYMENT,521.37,C203378011,0.00,M42773300,0.00,No,No,0.00,-7876081513909550411,5154609095142955982
2,179,PAYMENT,3478.18,C1698571270,16374.82,M643984524,0.00,No,No,-3478.18,5641091840828308215,-2687363131937899503
3,355,PAYMENT,1716.05,C913764937,4053.13,M1387429131,0.00,No,No,-1716.04,4712233521516437196,9144958884526649239
4,354,CASH_IN,253129.93,C2017736577,1581629.42,C407484102,2460090.55,No,No,253129.93,-3214466548269231425,3950046400952680750

In [54]:
# data = data.drop(['Origin_ID', 'Destination_ID'], axis=1)

In [55]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Final_Origin_Balance', 'Destination_ID', 'Final_Destination_Balance',
       'Fraud', 'Expected_Fraud', 'TransactionAmount', 'Hashed_Origin_ID',
       'Hashed_Destination_ID'],
      dtype='object')

In [46]:
data.dtypes

Time                           int64
Transaction_Type              object
Amount                       float64
Origin_ID                     object
Final_Origin_Balance         float64
Destination_ID                object
Final_Destination_Balance    float64
Fraud                         object
Expected_Fraud                object
TransactionAmount            float64
Hashed_Origin_ID              object
Hashed_Destination_ID         object
dtype: object