In [36]:
import pandas as pd 
import numpy as np

In [37]:
import hashlib

In [38]:
data = pd.read_csv('DATATHON_EVENT_DATASET.csv')

In [39]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud
0,162,CASH_OUT,183806.32,C691771226,19391.00,0.00,C1416312719,382572.19,566378.51,No,No
1,137,PAYMENT,521.37,C203378011,0.00,0.00,M42773300,0.00,0.00,No,No
2,179,PAYMENT,3478.18,C1698571270,19853.00,16374.82,M643984524,0.00,0.00,No,No
3,355,PAYMENT,1716.05,C913764937,5769.17,4053.13,M1387429131,0.00,0.00,No,No
4,354,CASH_IN,253129.93,C2017736577,1328499.49,1581629.42,C407484102,2713220.48,2460090.55,No,No

In [40]:
# data = data.drop("Expected_Fraud", axis=1)

In [41]:
data.dtypes

Time                             int64
Transaction_Type                object
Amount                         float64
Origin_ID                       object
Initial_Origin_Balance         float64
Final_Origin_Balance           float64
Destination_ID                  object
Initial_Destination_Balance    float64
Final_Destination_Balance      float64
Fraud                           object
Expected_Fraud                  object
dtype: object

In [42]:
data['TransactionAmount'] = - data['Final_Origin_Balance'] + data['Initial_Origin_Balance']

In [43]:
# data = data.drop(['Initial_Origin_Balance', 'Initial_Destination_Balance'], axis=1)

In [44]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Initial_Origin_Balance', 'Final_Origin_Balance', 'Destination_ID',
       'Initial_Destination_Balance', 'Final_Destination_Balance', 'Fraud',
       'Expected_Fraud', 'TransactionAmount'],
      dtype='object')

In [45]:

# Apply the function to the Origin_ID column
data['Hashed_Origin_ID'] = data['Origin_ID'].apply(hash).astype('int64')
data['Hashed_Destination_ID'] = data['Destination_ID'].apply(hash).astype('int64')

In [46]:
import hashlib

In [47]:
382572.19-566378.51

-183806.32

In [48]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount,Hashed_Origin_ID,Hashed_Destination_ID
0,162,CASH_OUT,183806.32,C691771226,19391.00,0.00,C1416312719,382572.19,566378.51,No,No,19391.00,-1979301637049057378,140869961671888175
1,137,PAYMENT,521.37,C203378011,0.00,0.00,M42773300,0.00,0.00,No,No,0.00,-3385359926299205263,-1517111670563651029
2,179,PAYMENT,3478.18,C1698571270,19853.00,16374.82,M643984524,0.00,0.00,No,No,3478.18,3716475681150125967,-6841416382414742074
3,355,PAYMENT,1716.05,C913764937,5769.17,4053.13,M1387429131,0.00,0.00,No,No,1716.04,-5139153928441122385,8371274474478375691
4,354,CASH_IN,253129.93,C2017736577,1328499.49,1581629.42,C407484102,2713220.48,2460090.55,No,No,-253129.93,4452153812489893743,5790253106896839464

In [49]:
# data = data.drop(['Origin_ID', 'Destination_ID'], axis=1)

In [50]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Initial_Origin_Balance', 'Final_Origin_Balance', 'Destination_ID',
       'Initial_Destination_Balance', 'Final_Destination_Balance', 'Fraud',
       'Expected_Fraud', 'TransactionAmount', 'Hashed_Origin_ID',
       'Hashed_Destination_ID'],
      dtype='object')

In [51]:
data.dtypes

Time                             int64
Transaction_Type                object
Amount                         float64
Origin_ID                       object
Initial_Origin_Balance         float64
Final_Origin_Balance           float64
Destination_ID                  object
Initial_Destination_Balance    float64
Final_Destination_Balance      float64
Fraud                           object
Expected_Fraud                  object
TransactionAmount              float64
Hashed_Origin_ID                 int64
Hashed_Destination_ID            int64
dtype: object

In [52]:
data['Transaction_Type'].value_counts()

Transaction_Type
CASH_OUT      19510
PAYMENT       17079
CASH_IN       10808
TRANSFER       7445
CASH_OUUUT     2167
Trans_fer       827
DEBIT           314
Name: count, dtype: int64

In [53]:
transaction_types = data['Transaction_Type'].unique()
print(transaction_types)

['CASH_OUT' 'PAYMENT' 'CASH_IN' 'TRANSFER' 'DEBIT' 'CASH_OUUUT'
 'Trans_fer']

In [54]:
# No null values are found except for the Expected_fraud column
null_count = data.isnull().sum()
print(null_count)  # Returns the count of nulls

Time                              0
Transaction_Type                  0
Amount                            0
Origin_ID                         0
Initial_Origin_Balance            0
Final_Origin_Balance              0
Destination_ID                    0
Initial_Destination_Balance       0
Final_Destination_Balance         0
Fraud                             0
Expected_Fraud                 4650
TransactionAmount                 0
Hashed_Origin_ID                  0
Hashed_Destination_ID             0
dtype: int64

In [55]:

# Create a mapping dictionary for the similar labels
transaction_type_mapping = {
    'CASH_OUUUT': 'CASH_OUT',
    'Trans_fer': 'TRANSFER',
    'TRANSFER': 'TRANSFER',  # Keeping it the same for consistency
    'CASH_OUT': 'CASH_OUT',  # Keeping it the same
    'PAYMENT': 'PAYMENT',  # Keeping it the same
    'CASH_IN': 'CASH_IN',  # Keeping it the same
}

# Apply the mapping to replace inconsistent labels with correct ones
data['Transaction_Type'] = data['Transaction_Type'].replace(transaction_type_mapping)

# Verify the changes
print(data['Transaction_Type'].value_counts())

Transaction_Type
CASH_OUT    21677
PAYMENT     17079
CASH_IN     10808
TRANSFER     8272
DEBIT         314
Name: count, dtype: int64

In [56]:
# #Transaction amount is negative if outgoing and positive for incoming

# # Assuming your DataFrame is called 'data'

# # Step 1: Create a new column 'Transaction_Sign' based on the sign of the 'Amount'
# data['Transaction_Amount_sign'] = data['TransactionAmount'].apply(lambda x: 0 if x < 0 else 1)

# # Step 2: Group the data by 'Transaction_Type' and 'Transaction_Sign' a
# grouped_data = data.groupby(['Transaction_Type', 'Transaction_Amount_sign']).size().unstack(fill_value=0)

# # Display the grouped data
# #print(grouped_data)

In [57]:
# # Assuming the result is stored in 'grouped_data'
# reversed_axes = grouped_data.transpose()

# # Display the reversed axes DataFrame
# print(reversed_axes)

In [58]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount,Hashed_Origin_ID,Hashed_Destination_ID
0,162,CASH_OUT,183806.32,C691771226,19391.00,0.00,C1416312719,382572.19,566378.51,No,No,19391.00,-1979301637049057378,140869961671888175
1,137,PAYMENT,521.37,C203378011,0.00,0.00,M42773300,0.00,0.00,No,No,0.00,-3385359926299205263,-1517111670563651029
2,179,PAYMENT,3478.18,C1698571270,19853.00,16374.82,M643984524,0.00,0.00,No,No,3478.18,3716475681150125967,-6841416382414742074
3,355,PAYMENT,1716.05,C913764937,5769.17,4053.13,M1387429131,0.00,0.00,No,No,1716.04,-5139153928441122385,8371274474478375691
4,354,CASH_IN,253129.93,C2017736577,1328499.49,1581629.42,C407484102,2713220.48,2460090.55,No,No,-253129.93,4452153812489893743,5790253106896839464

In [59]:
data = pd.get_dummies(data, columns=['Transaction_Type'])
data.head()

,Time,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount,Hashed_Origin_ID,Hashed_Destination_ID,Transaction_Type_CASH_IN,Transaction_Type_CASH_OUT,Transaction_Type_DEBIT,Transaction_Type_PAYMENT,Transaction_Type_TRANSFER
0,162,183806.32,C691771226,19391.00,0.00,C1416312719,382572.19,566378.51,No,No,19391.00,-1979301637049057378,140869961671888175,False,True,False,False,False
1,137,521.37,C203378011,0.00,0.00,M42773300,0.00,0.00,No,No,0.00,-3385359926299205263,-1517111670563651029,False,False,False,True,False
2,179,3478.18,C1698571270,19853.00,16374.82,M643984524,0.00,0.00,No,No,3478.18,3716475681150125967,-6841416382414742074,False,False,False,True,False
3,355,1716.05,C913764937,5769.17,4053.13,M1387429131,0.00,0.00,No,No,1716.04,-5139153928441122385,8371274474478375691,False,False,False,True,False
4,354,253129.93,C2017736577,1328499.49,1581629.42,C407484102,2713220.48,2460090.55,No,No,-253129.93,4452153812489893743,5790253106896839464,True,False,False,False,False