In [1]:
import pandas as pd 
import numpy as np

In [2]:
from sklearn.preprocessing import LabelEncoder

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
data = pd.read_csv('DATATHON_EVENT_DATASET.csv')

In [4]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud
0,162,CASH_OUT,183806.32,C691771226,19391.00,0.00,C1416312719,382572.19,566378.51,No,No
1,137,PAYMENT,521.37,C203378011,0.00,0.00,M42773300,0.00,0.00,No,No
2,179,PAYMENT,3478.18,C1698571270,19853.00,16374.82,M643984524,0.00,0.00,No,No
3,355,PAYMENT,1716.05,C913764937,5769.17,4053.13,M1387429131,0.00,0.00,No,No
4,354,CASH_IN,253129.93,C2017736577,1328499.49,1581629.42,C407484102,2713220.48,2460090.55,No,No

In [5]:
# data = data.drop("Expected_Fraud", axis=1)

In [6]:
data.dtypes

Time                             int64
Transaction_Type                object
Amount                         float64
Origin_ID                       object
Initial_Origin_Balance         float64
Final_Origin_Balance           float64
Destination_ID                  object
Initial_Destination_Balance    float64
Final_Destination_Balance      float64
Fraud                           object
Expected_Fraud                  object
dtype: object

In [7]:
data['TransactionAmount'] = - data['Final_Origin_Balance'] + data['Initial_Origin_Balance']

In [8]:
# data = data.drop(['Initial_Origin_Balance', 'Initial_Destination_Balance'], axis=1)

In [9]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Initial_Origin_Balance', 'Final_Origin_Balance', 'Destination_ID',
       'Initial_Destination_Balance', 'Final_Destination_Balance', 'Fraud',
       'Expected_Fraud', 'TransactionAmount'],
      dtype='object')

In [10]:
# # Function to hash Origin_ID
# def hash_origin_id(origin_id):
#     return hashlib.sha256(origin_id.encode()).hexdigest()

# # Apply the function to the Origin_ID column
# data['Hashed_Origin_ID'] = data['Origin_ID'].apply(hash_origin_id).rank(method="dense").astype(int)
# data['Hashed_Destination_ID'] = data['Destination_ID'].apply(hash_origin_id).rank(method="dense").astype(int)

encodables = ['Origin_ID', 'Destination_ID', 'Fraud']
encoders = {}
for column in encodables:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column])
    encoders[column] = le

In [11]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount
0,162,CASH_OUT,183806.32,48751,19391.00,0.00,8311,382572.19,566378.51,0,No,19391.00
1,137,PAYMENT,521.37,31245,0.00,0.00,50731,0.00,0.00,0,No,0.00
2,179,PAYMENT,3478.18,21146,19853.00,16374.82,52691,0.00,0.00,0,No,3478.18
3,355,PAYMENT,1716.05,55464,5769.17,4053.13,42137,0.00,0.00,0,No,1716.04
4,354,CASH_IN,253129.93,30759,1328499.49,1581629.42,26864,2713220.48,2460090.55,0,No,-253129.93

In [12]:
# data = data.drop(['Origin_ID', 'Destination_ID'], axis=1)

In [13]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Initial_Origin_Balance', 'Final_Origin_Balance', 'Destination_ID',
       'Initial_Destination_Balance', 'Final_Destination_Balance', 'Fraud',
       'Expected_Fraud', 'TransactionAmount'],
      dtype='object')

In [14]:
data.dtypes

Time                             int64
Transaction_Type                object
Amount                         float64
Origin_ID                        int64
Initial_Origin_Balance         float64
Final_Origin_Balance           float64
Destination_ID                   int64
Initial_Destination_Balance    float64
Final_Destination_Balance      float64
Fraud                            int64
Expected_Fraud                  object
TransactionAmount              float64
dtype: object

In [15]:
data['Destination_ID'].value_counts()

Destination_ID
16550    4
11210    4
9075     4
36738    4
5071     4
        ..
24278    1
43687    1
13330    1
4483     1
21638    1
Name: count, Length: 55837, dtype: int64

In [16]:
data['Origin_ID'].value_counts()

Origin_ID
48751    1
44445    1
47017    1
25754    1
15067    1
        ..
55054    1
8980     1
32777    1
7840     1
8513     1
Name: count, Length: 58150, dtype: int64

In [17]:
data.columns

Index(['Time', 'Transaction_Type', 'Amount', 'Origin_ID',
       'Initial_Origin_Balance', 'Final_Origin_Balance', 'Destination_ID',
       'Initial_Destination_Balance', 'Final_Destination_Balance', 'Fraud',
       'Expected_Fraud', 'TransactionAmount'],
      dtype='object')

In [18]:
data.shape

(58150, 12)

In [19]:
(data['Initial_Origin_Balance'] - data['Final_Origin_Balance']) == (data['Final_Destination_Balance'] - data['Initial_Destination_Balance'])

0        False
1         True
2        False
3        False
4        False
         ...
58145     True
58146    False
58147    False
58148    False
58149    False
Length: 58150, dtype: bool

In [20]:
# data = data.drop(['Origin_ID', 'Destination_ID', 'Initial_Origin_Balance', 'Initial_Destination_Balance'], axis=1)

In [21]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount
0,162,CASH_OUT,183806.32,48751,19391.00,0.00,8311,382572.19,566378.51,0,No,19391.00
1,137,PAYMENT,521.37,31245,0.00,0.00,50731,0.00,0.00,0,No,0.00
2,179,PAYMENT,3478.18,21146,19853.00,16374.82,52691,0.00,0.00,0,No,3478.18
3,355,PAYMENT,1716.05,55464,5769.17,4053.13,42137,0.00,0.00,0,No,1716.04
4,354,CASH_IN,253129.93,30759,1328499.49,1581629.42,26864,2713220.48,2460090.55,0,No,-253129.93

In [22]:
data['Transaction_Type'].value_counts()

Transaction_Type
CASH_OUT      19510
PAYMENT       17079
CASH_IN       10808
TRANSFER       7445
CASH_OUUUT     2167
Trans_fer       827
DEBIT           314
Name: count, dtype: int64

In [23]:
transaction_types = data['Transaction_Type'].unique()
print(transaction_types)

['CASH_OUT' 'PAYMENT' 'CASH_IN' 'TRANSFER' 'DEBIT' 'CASH_OUUUT'
 'Trans_fer']

In [24]:
# No null values are found except for the Expected_fraud column
null_count = data.isnull().sum()
print(null_count)  # Returns the count of nulls

Time                              0
Transaction_Type                  0
Amount                            0
Origin_ID                         0
Initial_Origin_Balance            0
Final_Origin_Balance              0
Destination_ID                    0
Initial_Destination_Balance       0
Final_Destination_Balance         0
Fraud                             0
Expected_Fraud                 4650
TransactionAmount                 0
dtype: int64

In [25]:
# Create a mapping dictionary for the similar labels
transaction_type_mapping = {
    'CASH_OUUUT': 'CASH_OUT',
    'Trans_fer': 'TRANSFER',
    'TRANSFER': 'TRANSFER',  # Keeping it the same for consistency
    'CASH_OUT': 'CASH_OUT',  # Keeping it the same
    'PAYMENT': 'PAYMENT',  # Keeping it the same
    'CASH_IN': 'CASH_IN',  # Keeping it the same
}

In [26]:
# Apply the mapping to replace inconsistent labels with correct ones
data['Transaction_Type'] = data['Transaction_Type'].replace(transaction_type_mapping)

# Verify the changes
print(data['Transaction_Type'].value_counts())
# #Transaction amount is negative if outgoing and positive for incoming

Transaction_Type
CASH_OUT    21677
PAYMENT     17079
CASH_IN     10808
TRANSFER     8272
DEBIT         314
Name: count, dtype: int64

In [27]:
# # Assuming your DataFrame is called 'data'

# # Step 1: Create a new column 'Transaction_Sign' based on the sign of the 'Amount'
# data['Transaction_Amount_sign'] = data['TransactionAmount'].apply(lambda x: 0 if x < 0 else 1)

# # Step 2: Group the data by 'Transaction_Type' and 'Transaction_Sign' a
# grouped_data = data.groupby(['Transaction_Type', 'Transaction_Amount_sign']).size().unstack(fill_value=0)

# # Display the grouped data
# #print(grouped_data)
# # Assuming the result is stored in 'grouped_data'
# reversed_axes = grouped_data.transpose()

# # Display the reversed axes DataFrame
# print(reversed_axes)

In [28]:
data.head()

,Time,Transaction_Type,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount
0,162,CASH_OUT,183806.32,48751,19391.00,0.00,8311,382572.19,566378.51,0,No,19391.00
1,137,PAYMENT,521.37,31245,0.00,0.00,50731,0.00,0.00,0,No,0.00
2,179,PAYMENT,3478.18,21146,19853.00,16374.82,52691,0.00,0.00,0,No,3478.18
3,355,PAYMENT,1716.05,55464,5769.17,4053.13,42137,0.00,0.00,0,No,1716.04
4,354,CASH_IN,253129.93,30759,1328499.49,1581629.42,26864,2713220.48,2460090.55,0,No,-253129.93

In [29]:
data = pd.get_dummies(data, columns=['Transaction_Type'])
data.head()

,Time,Amount,Origin_ID,Initial_Origin_Balance,Final_Origin_Balance,Destination_ID,Initial_Destination_Balance,Final_Destination_Balance,Fraud,Expected_Fraud,TransactionAmount,Transaction_Type_CASH_IN,Transaction_Type_CASH_OUT,Transaction_Type_DEBIT,Transaction_Type_PAYMENT,Transaction_Type_TRANSFER
0,162,183806.32,48751,19391.00,0.00,8311,382572.19,566378.51,0,No,19391.00,False,True,False,False,False
1,137,521.37,31245,0.00,0.00,50731,0.00,0.00,0,No,0.00,False,False,False,True,False
2,179,3478.18,21146,19853.00,16374.82,52691,0.00,0.00,0,No,3478.18,False,False,False,True,False
3,355,1716.05,55464,5769.17,4053.13,42137,0.00,0.00,0,No,1716.04,False,False,False,True,False
4,354,253129.93,30759,1328499.49,1581629.42,26864,2713220.48,2460090.55,0,No,-253129.93,True,False,False,False,False

In [30]:
data['source_amount'] = (data['Initial_Origin_Balance'] - data['Final_Origin_Balance'])
data['destination_amount'] = (data['Final_Destination_Balance'] - data['Initial_Destination_Balance'])

In [31]:

money_columns = ['Amount', 'source_amount', 'destination_amount']

In [32]:
data[(data['source_amount'].abs() == data['destination_amount'].abs()) & (data['source_amount'] != data['Amount'].abs())][money_columns].head()

      Amount  source_amount  destination_amount
1     521.37            0.0                 0.0
16  14691.54            0.0                 0.0
27  17968.47            0.0                 0.0
32   3950.45            0.0                 0.0
33  17678.74            0.0                 0.0

In [33]:
swappables = (data['source_amount'] <= 0) & (data['destination_amount'] <= 0)
data.loc[swappables, 'source_amount'], data.loc[swappables, 'destination_amount'] = data.loc[swappables, 'destination_amount'], data.loc[swappables, 'source_amount']

In [34]:
data['time_of_day'] = data['Time']%24
data.groupby('Fraud')['time_of_day'].value_counts()

Fraud  time_of_day
0      19             5076
       18             4586
       20             4261
       12             3834
       13             3775
       14             3575
       16             3504
       17             3473
       11             3465
       10             3336
       15             3226
       9              2169
       21             1896
       22             1532
       23             1114
       0               537
       8               226
       1               217
       7                75
       2                61
       6                23
       3                16
       5                15
       4                 8
1      10              371
       2               369
       8               364
       5               363
       6               355
       14              353
       1               352
       17              349
       22              348
       16              344
       21              344
       13              343
       9               340
       18              340
       19              340
       12              336
       20              336
       15              335
       7               328
       3               325
       11              323
       23              321
       0               299
       4               272
Name: count, dtype: int64

In [35]:
data.groupby('Fraud')['Time'].value_counts()

Fraud  Time
0      19      416
       235     402
       18      397
       14      379
       403     371
              ...
1      525       2
       548       2
       589       2
       662       2
       23        1
Name: count, Length: 1145, dtype: int64

In [36]:
columns_to_drop = [
    'Origin_ID', 'Destination_ID', 'Initial_Origin_Balance', 
    'Initial_Destination_Balance', 'Expected_Fraud', 
    'source_amount', 'destination_amount', 'TransactionAmount', 'time_of_day', 'Time'
]

# Drop columns if they exist
data = data.drop(columns=[col for col in columns_to_drop if col in data.columns])

data.head()

,Amount,Final_Origin_Balance,Final_Destination_Balance,Fraud,Transaction_Type_CASH_IN,Transaction_Type_CASH_OUT,Transaction_Type_DEBIT,Transaction_Type_PAYMENT,Transaction_Type_TRANSFER
0,183806.32,0.00,566378.51,0,False,True,False,False,False
1,521.37,0.00,0.00,0,False,False,False,True,False
2,3478.18,16374.82,0.00,0,False,False,False,True,False
3,1716.05,4053.13,0.00,0,False,False,False,True,False
4,253129.93,1581629.42,2460090.55,0,True,False,False,False,False

In [37]:
data.head()

,Amount,Final_Origin_Balance,Final_Destination_Balance,Fraud,Transaction_Type_CASH_IN,Transaction_Type_CASH_OUT,Transaction_Type_DEBIT,Transaction_Type_PAYMENT,Transaction_Type_TRANSFER
0,183806.32,0.00,566378.51,0,False,True,False,False,False
1,521.37,0.00,0.00,0,False,False,False,True,False
2,3478.18,16374.82,0.00,0,False,False,False,True,False
3,1716.05,4053.13,0.00,0,False,False,False,True,False
4,253129.93,1581629.42,2460090.55,0,True,False,False,False,False

In [38]:
data.to_csv('cleaned_data.csv', index=False)